<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>旅の思い出の写真から位置情報を読み取り、地図上に表示します</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>現在地でのチェックイン機能で使用します</string>
</dict>
</plist>
